@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center align-content-center mt-3">
	<h1 class="col-8 my-4">Edit Role</h1>
	<partial name="Partials/_CreateEditRolePartial" />
</div>

@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}

