@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="SendResetPasswordUrl">
			<input class="text" asp-for="Email" placeholder="Enter your email" required="">
			<span asp-validation-for="Email" class="text-danger mb-3"></span>
			<br />
			<input type="submit" value="SUBMIT">
		</form>
	</div>
</div>

@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
}

