@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="auth-container">
    <h2 class="auth-title">Forget Password</h2>

    <div asp-validation-summary="All" class="validation-summary-errors"></div>

    <form asp-action="SendResetPasswordUrl">
        <input class="auth-input" type="email" asp-for="Email" placeholder="Your Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>

        <button type="submit" class="auth-btn">Submit</button>
    </form>

    <a asp-action="Login" class="auth-link">Log In</a>
</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}