@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="auth-container">
    <h2 class="auth-title">ResetPassword</h2>

    <div asp-validation-summary="All" class="validation-summary-errors"></div>

    <form asp-action="ResetPassword">
        <input class="auth-input" type="password" asp-for="Password" placeholder="New Password" required>
        <span asp-validation-for="Password" class="text-danger"></span>

        <input class="auth-input" type="password" asp-for="ConfirmPassword" placeholder="Confirm New Password" required>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <button type="submit" class="auth-btn">Submit</button>
    </form>

</div>

@section ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}