@model EmployeeWorkOnProjectDetailsDto
@{
	ViewData["Title"] = "Details";
}

<h1 class="my-5 w-75 m-auto col-8">Details Assign Employee To Work On Project</h1>
<partial name="Partials/_DeleteDetailsWorksOnPartial" />

